@using PagedList.Mvc;
@using PagedList;

@model IEnumerable<JiaYu.Models.Member>

@{
    ViewBag.Title = "使用者列表";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div>
    @using (Html.BeginForm("Search", "Admin", FormMethod.Post, new { id = "SearchForm" }))
    {
        <table>
            <tr>
                <td><label class="form-label" for="searchText">使用者查詢：</label></td>
                <td style="width:200px;">
                    <input type="search" id="searchText" name="searchText" class="form-control" />
                </td>
                <td style="width:100px;">
                    <button type="submit" class="btn btn-primary">
                        查詢
                    </button>
                </td>
            </tr>
        </table>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.m_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sex)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telephone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cellphone)
        </th>
        <th>
            功能
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.m_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.id_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cellphone)
            </td>
            <td>
                @Html.ActionLink("修改", "Edit", "Admin", new { uid = item.user_id }, new { @class = "btn btn-primary" })

                @Html.ActionLink("刪除", "Delete", "Admin", new { uid = item.user_id }, new { @class = "btn btn-warning", onclick = "return confirm('是否確定刪除')" })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, x => Url.Action("List", new { page = x }))
