
@model IEnumerable<JiaYu.Models.OrdersDetail>
@{
    ViewBag.Title = "會員歷史訂單查詢";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />

@using (Html.BeginForm())
{
    <span class="control-label">訂單編號：@ViewBag.OrderNo</span>
    <div class="col"><hr /></div>

    foreach (var item in ViewBag.OrderList)
    {
        <div class="row">
            <div class="col"><span class="control-label">訂單日期:</span><span class="control-label"> @item.order_date </span></div>
            <div class="col"><span class="control-label">會員姓名:</span><span class="control-label"> @item.user_name </span></div>
            <div class="col"><span class="control-label">電子郵箱:</span><span class="control-label"> @item.email </span></div>
        </div>
        <div class="row">
            <div class="col"><span class="control-label">訂單狀態:</span><span class="control-label">@item.status_name</span></div>
            <div class="col"><span class="control-label">付款方式:</span><span class="control-label">@item.payment_name</span></div>
            <div class="col"><span class="control-label">運送方式:</span><span class="control-label">@item.shipping_name</span></div>
        </div>
        <div class="row">
            <div class="col"><span class="control-label">收件人:</span><span class="control-label">@item.receive_name</span></div>
            <div class="col"><span class="control-label">收件地址:</span><span class="control-label">@item.receive_address</span></div>
            <div class="col"><span class="control-label">備註:</span><span class="control-label">@item.remark</span></div>
        </div>
    }

    <div class="col"><hr /></div>
    <div class="row">
        <div class="col"><span class="control-label">@Html.DisplayNameFor(model => model.product_no)</span></div>
        <div class="col"><span class="control-label">@Html.DisplayNameFor(model => model.product_name)</span></div>
        <div class="col"><span class="control-label">@Html.DisplayNameFor(model => model.product_spec)</span></div>
        <div class="col"><span class="control-label">@Html.DisplayNameFor(model => model.qty)</span></div>
        <div class="col"><span class="control-label">@Html.DisplayNameFor(model => model.price)</span></div>
        <div class="col"><span class="control-label">@Html.DisplayNameFor(model => model.amount)</span></div>
    </div>
    <div class="row">
        <div class="col"><hr /></div>
    </div>
    foreach (var item in Model)
    {
        <div class="row">
            <div class="col">@item.product_no</div>
            <div class="col">@item.product_name</div>
            <div class="col">@item.product_spec</div>
            <div class="col">@item.qty.ToString()</div>
            <div class="col">@item.price.ToString()</div>
            <div class="col">@item.amount.ToString()</div>
        </div>
        <div class="row">
            <div class="col"><hr /></div>
        </div>
    }
    <span class="control-label">合計金額：@Model.Sum(m => m.amount)</span>
}

@Html.ActionLink("返回", "Index", "Orders", null, new { @class = "btn btn-primary" })


