@model JiaYu.Models.ViewModel.ProductDetailViewModel

@{
    ViewBag.Title = "產品明細";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section css{

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="@Url.Content("~/adminlte/dist/css/adminlte.min.css")">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Color Radio Button  -->
    <link rel="stylesheet" href="@Url.Content("~/adminlte/dist/css/color_radio.css")">
}


<br />
<br />
<br />
@Html.AntiForgeryToken()
<div class="card">
    @using (Html.BeginForm("ProductDetails", "Home", FormMethod.Post))
    {
        <!-- Content Wrapper. Contains page content -->
        <div class="card-body login-card-body">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">

                        </div>
                        <div class="col-sm-6">

                        </div>
                    </div>
                </div><!-- /.container-fluid -->
            </section>
            <!-- Main content -->
            <section class="content">

                <!-- Default box -->
                <div class="card card-solid">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <h3 class="d-inline-block d-sm-none"></h3>
                                <div class="col-12">
                                    <img src="@Url.Content("~/Images/Product/" + Model.photos[0].filename)" class="product-image" alt="Product Image">
                                </div>
                                <div class="col-12 product-image-thumbs">
                                    @foreach (var photo in Model.photos)
                                    {
                                        <div class="product-image-thumb"><img src="@Url.Content("~/Images/Product/"+ photo.filename)" alt="Product Image"></div>
                                    }

                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <h3 class="my-3">@Model.pname</h3>
                                <p>@Model.spec</p>

                                <hr>
                                <h4>商品顏色</h4>

                                @Html.HiddenFor(model => model.pro_id)
                                <div class="custom-radios">
                                    @foreach (var colitem in Model.selectColorList)
                                    {
                                        <div>
                                            @colitem.Text<br><input type="radio" id="color-@colitem.Value" name="color_no" value="@colitem.Value">

                                            <label for="color-@colitem.Value">
                                                <span>
                                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                                                </span>
                                            </label>
                                        </div>
                                    }


                                </div>

                                <div class="bg-gray py-2 px-3 mt-4">
                                    <h2 class="mb-0">
                                        @Model.price_sale.ToString("C0")
                                    </h2>
                                    <h2 class="mb-0">
                                        數量:@Html.EditorFor(model => model.qty, new { htmlAttributes = new { @style = "width:66px", min = 1, max = 20 } })
                                    </h2>

                                </div>

                                <div class="mt-4">
                                    <div class="btn btn-primary btn-lg btn-flat" onclick=" document.forms[0].submit()">
                                        <i class="fas fa-cart-plus fa-lg mr-2"></i>
                                        加入購物車
                                    </div>

                                    <div class="btn btn-default btn-lg btn-flat">
                                        <i class="fas fa-heart fa-lg mr-2"></i>
                                        直接結帳
                                    </div>
                                </div>




                            </div>
                        </div>
                        <div class="row mt-4">
                            <nav class="w-100">
                                <div class="nav nav-tabs" id="product-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="product-desc-tab" data-toggle="tab" href="#product-desc" role="tab" aria-controls="product-desc" aria-selected="true">Description</a>
                                    <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="false">Comments</a>
                                    <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating" role="tab" aria-controls="product-rating" aria-selected="false">Rating</a>
                                </div>
                            </nav>
                            <div class="tab-content p-3" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae condimentum erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed posuere, purus at efficitur hendrerit, augue elit lacinia arcu, a eleifend sem elit et nunc. Sed rutrum vestibulum est, sit amet cursus dolor fermentum vel. Suspendisse mi nibh, congue et ante et, commodo mattis lacus. Duis varius finibus purus sed venenatis. Vivamus varius metus quam, id dapibus velit mattis eu. Praesent et semper risus. Vestibulum erat erat, condimentum at elit at, bibendum placerat orci. Nullam gravida velit mauris, in pellentesque urna pellentesque viverra. Nullam non pellentesque justo, et ultricies neque. Praesent vel metus rutrum, tempus erat a, rutrum ante. Quisque interdum efficitur nunc vitae consectetur. Suspendisse venenatis, tortor non convallis interdum, urna mi molestie eros, vel tempor justo lacus ac justo. Fusce id enim a erat fringilla sollicitudin ultrices vel metus. </div>
                                <div class="tab-pane fade" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab"> Vivamus rhoncus nisl sed venenatis luctus. Sed condimentum risus ut tortor feugiat laoreet. Suspendisse potenti. Donec et finibus sem, ut commodo lectus. Cras eget neque dignissim, placerat orci interdum, venenatis odio. Nulla turpis elit, consequat eu eros ac, consectetur fringilla urna. Duis gravida ex pulvinar mauris ornare, eget porttitor enim vulputate. Mauris hendrerit, massa nec aliquam cursus, ex elit euismod lorem, vehicula rhoncus nisl dui sit amet eros. Nulla turpis lorem, dignissim a sapien eget, ultrices venenatis dolor. Curabitur vel turpis at magna elementum hendrerit vel id dui. Curabitur a ex ullamcorper, ornare velit vel, tincidunt ipsum. </div>
                                <div class="tab-pane fade" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab"> Cras ut ipsum ornare, aliquam ipsum non, posuere elit. In hac habitasse platea dictumst. Aenean elementum leo augue, id fermentum risus efficitur vel. Nulla iaculis malesuada scelerisque. Praesent vel ipsum felis. Ut molestie, purus aliquam placerat sollicitudin, mi ligula euismod neque, non bibendum nibh neque et erat. Etiam dignissim aliquam ligula, aliquet feugiat nibh rhoncus ut. Aliquam efficitur lacinia lacinia. Morbi ac molestie lectus, vitae hendrerit nisl. Nullam metus odio, malesuada in vehicula at, consectetur nec justo. Quisque suscipit odio velit, at accumsan urna vestibulum a. Proin dictum, urna ut varius consectetur, sapien justo porta lectus, at mollis nisi orci et nulla. Donec pellentesque tortor vel nisl commodo ullamcorper. Donec varius massa at semper posuere. Integer finibus orci vitae vehicula placerat. </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    }
</div>
<!-- jQuery -->
<script src="@Url.Content("~/adminlte/plugins/jquery/jquery.min.js")"></script>
<!-- Bootstrap 4 -->
<script src="@Url.Content("~/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
<!-- AdminLTE App -->
<script src="@Url.Content("~/adminlte/dist/js/adminlte.min.js")"></script>
<!-- AdminLTE for demo purposes -->
<script src="@Url.Content("~/adminlte/dist/js/demo.js")"></script>

